.TMC_hero {
    position: absolute;
    width: 700px;
    height: 700px;
    // background-color: purple;
    top: 140px;
    left: 120px;

    background-image: url(../images/TMC_hero.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.info{
    position: absolute;
    width: 400px;
    height: 40px;
    // background-color: orange;
    top: 200px;
    left: 900px;

    h2{
        font-family: Quicksand-Light;
        font-size: 34px;
        text-decoration: underline;
    }
}

.info_p {
    position: absolute;
    width: 640px;
    height: 400px;
    // background-color: orange;
    top: 300px;
    left: 900px;

    p {
        font-family: Quicksand-Light;
        font-size: 20px;
        
    }

    li {
        font-family: Quicksand-Light;
        font-size: 20px;
    }

    a {
        text-decoration: none;
        color: #a7938e;
    }
}

.backBtn {
    position: relative;
    margin-top: -80px;
    margin-left: 1360px;

    a {
        color: #000;
        text-decoration: none;
        font-family: Quicksand-Light;
    }
    
    button {
        padding: 6px 16px;
        border-radius: 20px;
        border: 2px solid #a7938e;
        font-size: 18px;
        background-color: #efe7e5;
    }

    button:hover{
        background-color: #a7938e;
        color: whitesmoke;
    }
}